# : comments

# no .a files
# *.a

# ignore doc/notes.txt, but not doc/server/arch.txt
# doc/*.txt

# ignore all .pdf files in the doc/ directory
# doc/**/*.pdf

# ignore all files in the build/ directory

# only ignore the TODO file in the current directory, not subdir/TODO
# /TODO

# but do track lib.a, even though you're ignoring .a files above
# !lib.a

virtualenv
flask
app
pip
python
.DS_Store

:FLASK_DEBUF=True
:FLASK_APP=app.py

bin/
include/
lib/
__pycache__/
venv/

key
