# : comments

# no .a files
# *.a
virtualenv
flask
app
pip
python
.DS_Store

# but do track lib.a, even though you're ignoring .a files above
# !lib.a

# only ignore the TODO file in the current directory, not subdir/TODO
# /TODO
:FLASK_DEBUF=True
:FLASK_APP=app.py

# ignore all files in the build/ directory
bin/
include/
lib/
__pycache__/
venv/

# ignore doc/notes.txt, but not doc/server/arch.txt
# doc/*.txt

# ignore all .pdf files in the doc/ directory
# doc/**/*.pdf
